@using Newtonsoft.Json
@model List<AutomatedTellerMachine.Models.Transaction>

@{
    ViewBag.Title = "Statement";
}

<h2>Statement</h2>

<table class="table  table-bordered col-md-8">
    <thead>
    <tr>
        <td><strong>Transaction ID</strong></td>
        <td><strong>Amount</strong></td>
        <td><strong>Transaction Message</strong></td>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var transaction in Model)
        {
            <tr>
                <td class ="col-md-2">@transaction.Id</td>
                <td class="col-md-4">$@transaction.Amount</td>
                <td class ="col-md-4">@transaction.Message</td>
            </tr>
        }
    }
    
    </tbody>
    <tfoot></tfoot>
</table>

